body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background:linear-gradient(135deg,#ff9a9e,#fad0c4);
}

header{
  position:fixed;
  width:90%;
  left:5%;
  top:15px;
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:linear-gradient(135deg,#667eea,#764ba2);
  border-radius:50px;
  z-index:1000;
}

.logo{
  color:white;
  font-weight:bold;
}

nav a{
  color:white;
  margin:0 10px;
  text-decoration:none;
  padding:8px 15px;
  border-radius:20px;
}

nav a:hover{
  background:rgba(255,255,255,0.2);
}

.active{
  background:white;
  color:#764ba2;
}


.banner{
  height:300px;
  background:url('foto-header.jpg') center/cover;
  margin-top:100px;
  border-radius:20px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.section{
  margin:40px auto;
  width:90%;
  padding:40px;
  background:linear-gradient(135deg,#a18cd1,#fbc2eb);
  border-radius:20px;
  color:white;
  text-align:center;
}
/* CONTAINER */
.container{
  width:90%;
  margin:50px auto;
  display:flex;
  justify-content:center;
}

/* BIG CARD */
.big-card{
  width:70%;
  padding:50px;
  border-radius:25px;

  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(15px);

  color:white;
  text-align:left;

  transition:0.3s;
  cursor:pointer;
}

.big-card h2{
  margin-bottom:20px;
  font-size:28px;
}

.big-card ul{
  margin-top:20px;
  padding-left:20px;
}
 
.big-card:hover{
  transform:translateY(-10px) scale(1.02);
  background:rgba(255,255,255,0.35);
  box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

.big-card:active{
  transform:scale(0.98);
}
.big-card:hover{
  box-shadow:0 0 30px rgba(255,255,255,0.4);
}